# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Describe the data science process
- Explore key libraries used in data science
- Demonstrate basic data manipulation techniques
- Visualize data using common plotting tools
"""

### Some of the popular languages that Data Scientists use are:
<ol>
<li>R</li>
<li>Python</li>
<li>Java</li>
<li>C++</li>
<li>Julia</li>    
</ol>

### Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Pandas</li>
<li>Numpy</li>
<li>Matplotlib</li>
<li>Tensor Flow</li>
</ol>

### Below are a few examples of evaluating arithmetic expressions in Python

In [37]:
x=3
y=4
print(x+y)

7

In [39]:
print((3*4)+5)
# This a simple arithmetic expression to mutiply then add integers

17

In [41]:
print (200/60)
#  This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author

Rusu Ioan Matei